# Version 0.1
[ ] it should have a place to store subs
[X] it should have a way to display subs
[X] it should have a way to add a sub
[X] it should have a way to edit a sub
[X] it should have a way to remove a sub
[X] It should have a function to add a sub
[X] It should have a function to edit a sub
[X] It should have a function to remove a sub
[X] We should initialize the subs variable with objects
[X] The add function should add objects
[X] The edit function should edit objects
[X] Subs should have the following properties:
- subsName: String
- subsUrl: String, url with/without https/https should be accepted
- startDate: String, can be null
- endDate: String, can be null for lifetime
- recurFee: Number, amount in minor units
- recurFeeCurrency: String, currency code

# Version 0.2

[ ] First entry should allow a way to enter all sub properties
[ ] Every sub should be unique
[ ] UI should display all props in one view
[ ] Sub storage should be persistent (i.e. in a database)

## DOM

